[user]
  name = Naresh Shan
  email = naresh.shan@hotmail.co.uk
[alias]
  co = checkout
  ci = commit
  dic = diff --cached
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = /Users/naresh/.gitignore
  editor = vim 
[apply]
  whitespace = nowarn
[credential]
  helper = osxkeychain
[github]
  user = nareshshan
[push]
  default = simple
